/* Front end style by anupammondal.in */
/* Landing Page */
/* body {
    background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url(section-background.jpg) center center no-repeat;
    background-size: cover;
} */

/* Landing Page */
a {
    text-decoration: none !important;
}

#new_card_dtls {
    width: 160px;
}

#card-exp-dt {
    width: 80px;
}

#card-cvv {
    width: 60px;
}

#card_pin,
#card_otp {
    text-align: center;
    letter-spacing: 10px;
    /* font-size: 20px; */
}

#card-ico-1,
#card-ico-3,
#card-ico-2 {
    margin: 6px 0px 12px 0px;
}

div.card {
    max-width: 380px;
}

#scroll-wrapper {
    overflow: hidden;
    min-width: 80%;
    height: 28px;
}

#scroll-inputs {
    width: 360px;
    position: absolute;
    height: 40px;
}

.col-auto {
    display: inline-block;
}

.col-auto input {
    display: inline-block;
}