/* Front end style by anupammondal.in */
a {
    text-decoration: none !important;
}
#new_card_dtls {
    width: 180px;
}

#card-exp-dt {
    width: 80px;
}

#card-cvv {
    width: 60px;
}

#card_pin {
    /* width: 60px;
    float: left; */
    text-align: center;
    letter-spacing: 20px;
    font-size: 20px;
}

i#card-ico-1, i#card-ico-3 {
    font-size: 26px;
}

#card_otp {
    /* width: 80px;
    float: left; */
    text-align: center;
    letter-spacing: 20px;
    font-size: 20px;
}

div.card {
    max-width: 380px;
}

#scroll-wrapper {
    overflow: hidden;
    max-width: 250px;
    height: 30px;
}

#scroll-inputs {
    width: 360px;
}

.col-auto {
    display: inline-block;
}

.col-auto input {
    display: inline-block;
}